<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177721441841-8gngufnctjgnf8mrlkhk19i9jhpq4aci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177721441841-8gngufnctjgnf8mrlkhk19i9jhpq4aci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177721441841-4e6363hbnblt8dd7j7bsjgsa1q4oupaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgz99Ml4gyBjv9iOAsuPXKN84Z6vZwqwc</string>
	<key>GCM_SENDER_ID</key>
	<string>177721441841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visionsacademy.visionsacademy</string>
	<key>PROJECT_ID</key>
	<string>the-last-55abe-ae47b</string>
	<key>STORAGE_BUCKET</key>
	<string>the-last-55abe-ae47b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177721441841:ios:dff99f431e5a813fb31f10</string>
	<key>DATABASE_URL</key>
	<string>https://the-last-55abe-ae47b.firebaseio.com</string>
</dict>
</plist>